.section-main-nav {
  height: 100%;

  .section-main-nav-ul {
    background-color: white;

    line-height: 30px;
    /*list-style-type: none;*/
    text-align: start;
    text-indent: 10px;
    /*font-size: 12px;*/

    li {
      line-height: 30px;
      /*list-style-type: lower-greek;*/
      a {
        /*width: 100%;*/
        display: block;
      }

      a:hover {
        background-color: #63b175;
        color: white;
      }

    }
  }
}

