<header class="header">
  <div class="headImage">
    <a href="https://github.com/VacantThinker" target="_blank">
      <img class="img1" src="assets/img/50100840.png" alt="head-image"/>
      <img class="img2" src="assets/img/50100840.png" alt="head-image"/>
    </a>
  </div>
  <div class="leftSpace1"></div>
  <a class="headLink" href="https://vt-angular.github.io/angular-blogs-deploy/" target="_self">
    <!--  <a href="http://localhost:4200/" target="_self">-->
    <span>主页</span>
  </a>
  <div class="leftSpace2"></div>
  <a class="githubLink" href="https://github.com/vt-angular/angular-blogs" target="_blank">
    <span>Github</span>
  </a>
</header>
