.app {
  /*min-height: 100%;*/
  /*margin: -8px;*/
  display: grid;
  box-sizing: border-box;
}

app-toolbar {
  grid-row: auto;
  grid-column: auto;
}

app-main {
  grid-row: auto;
  grid-column: auto;
}
