
.section-left-side {
  /*min-height: 100%;*/
  /*border-right: 1px solid #63b175;*/
  /*background-color: dodgerblue;*/
}

.section-left-side ul {
  height: 30px;
  line-height: 30px;

  text-align: start;
  text-indent: 10px;
  /*font-size: 12px;*/
}

.section-left-side li:hover {
  background-color: #63b175;
  color: white;
}

.section-left-side ul li {
  padding-right: 10px;
  /*line-height: 50px;*/
}

.section-left-side ul li a {
  width: 100%;
  display: block;
}

/*.section-left-side ul li[id="0"] {*/
/*  background-color: #63b175;*/
/*  color: white;*/
/*}*/


