
.section-left-side {
  /*overflow: scroll;*/
  height: 100%;
}

.section-left-side ul {
  height: 30px;
  line-height: 30px;

  text-align: start;
  text-indent: 10px;
  /*font-size: 12px;*/

}

.section-left-side a:hover {
  background-color: #63b175;
  color: white;
}

.section-left-side ul li {
  line-height: 30px;
}

.section-left-side ul li a {
  /*width: 100%;*/
  padding-right: 10px;
  display: block;
}

/*.section-left-side ul li[id="0"] {*/
/*  background-color: #63b175;*/
/*  color: white;*/
/*}*/


