/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

app-root {
  height: 100%;
}

html, body, header, nav, footer, div, span, ul, li, ol {
  border: 0;
  padding: 0;
  margin: 0;
}
