.index-header-container {
  /*min-width: 320px;*/
  height: 60px;
  background-color: #63b175;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  a {
    margin: 0 8px;
    text-decoration-line: none;
    color: white;
  }

  .sectionLink {
    span:hover {
      font-size: 1.2em;
      text-decoration-line: underline;
    }
  }

  .leftSpace2 {
    flex: 1;
  }
}

/*.headImage a {*/
/*  width: 60px;*/
/*  height: 60px;*/
/*  display: block;*/
/*  justify-items: center;*/
/*}*/

/*.headImage .img1 {*/
/*  width: 40px;*/
/*  height: 40px;*/
/*  margin: 10px 0 0 10px;*/
/*  position: absolute;*/
/*  z-index: 1;*/
/*  visibility: visible;*/
/*}*/

/*.headImage .img2 {*/
/*  width: 60px;*/
/*  height: 60px;*/
/*  position: absolute;*/
/*  z-index: 2;*/
/*  visibility: hidden;*/
/*}*/

/*.headImage a:hover .img1 {*/
/*  visibility: hidden;*/
/*}*/

/*.headImage a:hover .img2 {*/
/*  visibility: visible;*/
/*}*/


/*.githubLink span:hover {*/
/*  font-size: 1.2em;*/
/*  text-decoration-line: underline;*/
/*}*/
