<div class="index-header-container">
  <!--  <div class="headImage">-->
  <!--    <a href="https://github.com/VacantThinker" target="_blank">-->
  <!--      <img alt="head-image" class="img1" src="{{headImageUrl}}"/>-->
  <!--      <img alt="head-image" class="img2" src="{{headImageUrl}}"/>-->
  <!--    </a>-->
  <!--  </div>-->
  <!--  <div class="leftSpace1"></div>-->
  <a [routerLink]="['']" class="sectionLink">
    <span>主页</span>
  </a>
  <a [routerLink]="['section']" class="sectionLink">
    <span>分类</span>
  </a>

  <div class="leftSpace2"></div>

  <!--  <a class="githubLink" href="https://github.com/vt-angular/angular-blogs" target="_blank">-->
  <!--    <span>Github</span>-->
  <!--  </a>-->
</div>
