.section-container {
  height: 100%;

  display: grid;
  grid-template-rows: 60px auto 1fr;
  grid-template-columns: auto 1fr;
  grid-template-areas: "blankArea blankArea" "leftArea navArea" "leftArea contentArea";

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  app-index-blank {
    grid-area: blankArea;
  }

  app-section-left-side {
    grid-area: leftArea;
    min-width: 210px;
    //position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: red;
    scrollbar-width: thin;
  }

  app-section-main-nav {
    grid-area: navArea;
    min-width: 420px;
    min-height: 30px;
    //position: relative;
  }

  app-section-main-content {
    grid-area: contentArea;
    min-width: 420px;
    min-height: 30px;
    //position: relative;
    overflow-y: scroll;
    scrollbar-color: red;
    scrollbar-width: thin;
  }

  app-section-left-side::-webkit-scrollbar, app-section-main-content::-webkit-scrollbar {
    width: 0.2em;
  }

  app-section-left-side::-webkit-scrollbar-track, app-section-main-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  app-section-left-side::-webkit-scrollbar-thumb, app-section-main-content::-webkit-scrollbar-thumb {
    background-color: #63b175;
    outline: 10px solid red;
  }

}

